<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="yq.mapper.CovidMapper">
    <select id="getCurrentConfirmedIncr" resultType="integer">
        select SUM(currentConfirmedIncr) as s from currentconfirmedin where dateId ='20210330'
    </select>
    <select id="getCurrentConfirmedCount" resultType="Long">
        select SUM(currentConfirmedCount) from province
    </select>
    <select id="getFromOtherIncr" resultType="Long">
        select SUM(currentConfirmedCount) from fromothercountry
    </select>
    <select id="getFromOther" resultType="Long">
        select SUM(confirmedCount) from fromothercountry
    </select>
    <select id="getSuspectedIncr" resultType="integer">
        select sum(suspectedCountIncr) from (select * from provinceed where dateId = #{dateId}) as a
    </select>
    <select id="getSuspectedCount" resultType="Long">
        select SUM(suspectedCount) from province
    </select>
    <select id="getConfirmedCountIncr" resultType="Long">
        select sum(confirmedIncr) from (select * from provinceed where dateId = #{dateId}) as a
    </select>
    <select id="getConfirmedCount" resultType="Long">
        select sum(confirmedCount) from province
    </select>
    <select id="getCuredIncr" resultType="integer">
        select sum(curedIncr) from (select * from provinceed where dateId = #{dateId}) as a
    </select>
    <select id="getCuredCount" resultType="integer">
        select sum(curedCount) from (select * from provinceed where dateId = #{dateId}) as a
    </select>
    <select id="getDeadIncr" resultType="integer">
        select sum(deadIncr) from (select * from provinceed where dateId = #{dateId}) as a
    </select>
    <select id="getDeadCount" resultType="integer">
        select sum(deadCount) from (select * from provinceed where dateId = #{dateId}) as a
    </select>
    <select id="getImportData" resultType="java.util.HashMap">
        select provinceShortName as name,confirmedCount as value from fromothercountry order by value desc limit 10
    </select>
    <select id="getTimeData" resultType="java.util.HashMap">
        select dateId,confirmedIncr as 新增确诊,confirmedCount as 累计确诊 ,suspectedCount as 疑似病例,curedCount as 累计治愈,deadCount as `累计死亡` from timelinedata
    </select>
    <select id="getCountryData" resultType="java.util.HashMap">
        select continents,countryName,confirmedCount,curedCount,deadCount from countrydata ORDER BY confirmedCount DESC
    </select>
    <select id="getAllCountryData" resultType="java.util.HashMap">
        SELECT sum(confirmedCount)-(select sum(curedCount) from countrydata)-(select sum(deadCount) from countrydata) as currentConfirmedCount,sum(confirmedCount) as confirmedCount,sum(curedCount) as curedCount,sum(deadCount) as deadCount from countrydata
    </select>
    <select id="getProvinceMapData" resultType="java.util.HashMap">
        select cityName as name,confirmedCount as value from (select * from city where provinceShortName = #{name}) as a
    </select>
    <select id="getAllCityData" resultType="java.util.HashMap">
        select cityName,currentConfirmedCount,confirmedCount,suspectedCount,deadCount,curedCount from (select * from city where provinceShortName = #{name}) as a
    </select>
</mapper>